.addManager-form{
  .ant-form-item-label{
    text-align: right;
  }
  box-sizing: border-box;
  .ant-form-item{
    margin-bottom: 0;
  }
  .login-form-button{
    width:100%;
  }
}

.am-list-item .am-list-line .am-list-content{
  font-size: 16px !important;
}

