.ChangePassword_list
{
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    line-height: 10px;
    font-size: 18px;
}
.button
{

    height: 40px;
    width: 80%;
    margin:50px auto;
}