.daohang3{/*设置导航栏的框框*/
    width: 100%;/*框框的宽度*/
    height: 50px;/*框框的长度*/
    padding: 0px;/*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/
    background-color: #9999FF;
    margin: 0;
}
.daohang3 li {
    list-style-type: none; /* 去掉li前的点 */
    float: left; /*将li设置成做浮动，变为联动*/
    /*margin-left: 7%;*/
    width: 25%;
}

.daohang3 a{
    display: block;/*将a变成块状*/
    margin: 0px 0px;/*块里的高宽通过margin设置*/
    color: black;
    text-align: center;/*字体居中*/
    text-decoration: none;/*去掉下划线*/
    font-size: 15px;
}
.listContent3{
}
.listContent3>div>div{
    display: inline-block;
    /*padding: 8px 0;*/
    width: 25%;
    text-align: center;
}


.listContent>div>div:last-child{
    vertical-align: text-top;
}
