.bgcolor{
    background: white;
    text-align: center;
    margin-top: 50px;
}
.user_main
{
    background: white;
    padding:20px 5%;
    font-size: 17px;
}
.user_main_list1,.user_main_list2
{
    width: 80%;
    text-align: left;
    margin: 0 auto;
}
.user_main_right
{
    display: inline-block;
    margin-left: 30%;
}
.passworld
{
    margin-top: 50px;

}
.listTitle{
    font-size: 17px;
}
.user_main_right{
    float: right;
}
.user_main_list1{
    margin-bottom: 10px;
    font-size: 17px;
}
.am-list-header{
    text-align: center;
}
